<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Patreon</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 969 946' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ccircle cx='484.5' cy='473' fill='rgb(249, 104, 84)' r='473'%3E%3C/circle%3E%3Ccircle cx='562.589996' cy='404.589996' fill='%23fff' r='204.589996'%3E%3C/circle%3E%3Crect height='545.799988' fill='rgb(5, 45, 73)' width='100' x='200' y='200'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <div class="h-full w-full flex flex-col justify-center items-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <script src="./data.json.js" charset="UTF-8"></script>
  </body>
</html>
